[[source]]
url = "https://mirrors.aliyun.com/pypi/simple/"
verify_ssl = true
name = "pypi"

[packages]
certbot-aliyun-cdn = ">=0.1.0"
certbot-dns-dnspod = "*"
click = "*"
aliyun-python-sdk-core = {version = "*"}
requests = {extras = ["security"],version = "*"}
cryptography = {extras = ["security"],version = "*"}
idna = {extras = ["security"],version = "*"}
pyopenssl = {extras = ["security"],version = "*"}

[dev-packages]
urllib3 = ">=1.24.2"

[requires]
python_version = "2.7"
