[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
certbot-aliyun-cdn = ">=0.1.0"
certbot-dns-dnspod = "*"
click = "*"
requests = {extras = ["security"], version = "*"}
cryptography = {extras = ["security"], version = "*"}
idna = {extras = ["security"], version = "*"}
pyopenssl = {extras = ["security"], version = "*"}

[dev-packages]

[requires]
python_version = "2.7"
